@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --hellow: #F3F3C3;
    --pink: #EA9DD6;
    --purple: #947EC3;
    --greenlight: #CCF3EE;
    --greendark: #97C4B8;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--greendark);
}

body, button, input, select, textarea {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: white;
}

h1 {
    margin: 0;
    font-weight: 400;
    color: var(--hellow);
}

h2{
    margin: 0;
    font-weight: 400;
    color: white;
}



p {
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
}

button {
    background: var(--hellow);
    border: 0;
    border-radius: 15px;
    padding: 8px 32px;
    color: var(--pink);
    font-weight: bold;
    font-size: 20px;
}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}   

header .container h1 {
    color: var(--teal);
    font-size: 48px;
    color: var(--hellow);
}

header .container img {
    display: none;  
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0 100px;
    position: sticky;
    top: 0;
    background-color: var(--charcoal);
}

nav img {
    height: 50px;
}

nav ul a {
    color: var(--teal);
    font-size: 20px;
    text-decoration: none;
    margin: 0 35px;
}

nav ul a svg {
    display: none;
}

.about-me {
    display: flex;
    padding: 100px;
}

.about-me .container {
    width: 50%;
    padding-right: 50px;
}

.about-me .img-container {
    width: 50%;
    text-align: center;
    position: static;
}

.about-me .img-container img {
    width: 70%;
    height: 100%;
}


nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.color img{
    position: absolute;
    top: 0px;
    left: 1714px;
    width: 10%;
}
.color2 img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10%;
}

.color3 img{
    position:absolute;
    top:2000px;
    height: 200;
    left: 103px;
    width: 197px;
}

.color3 .icons{
    position: relative;
    color:black;
    top: 165px;
    height: 110px;
    left: 185px;
    width: 100px;
}

h4{
    color: var(--purple);
    position: absolute;
    top: 2050px;
    left: 111px;
    width: 12%;   
}
.color3 p{
    color: var(--pink);
    position: absolute;
    top: 2100px ;
    left: 130px ;
    width: 8%;
    font-size: 16px;
}
.color4 img{
    position:absolute;
    top:2000px;
    height: 200;
    left: 450px;
    width: 197px;
}
.color4 .icons1{
    position: absolute;
    color:black;
    top: 2030px;
    height: 110px;
    left: 535px;
    width: 100px;
}

h5{
    color: var(--purple);
    position: absolute;
    top: 2045px;
    left: 460px;
    width: 12%;
    font-size: 16px;
}
.color4 p{
    color: var(--pink);
    position: absolute;
    top: 2100px ;
    left: 490px ;
    width: 8%;
    font-size: 16px;
}
.color5 img{
    position:absolute;
    top:2000px;
    height: 200;
    left: 800px;
    width: 197px;

}
.color5 .icons2{
    position: absolute;
    color:black;
    top: 2030px;
    height: 110px;
    left: 880px;
    width: 100px;
}
h6{
    color: var(--purple);
    position: absolute;
    top: 2030px;
    left: 810px;
    width: 12%;
    font-size: 16px;
}
.color5 p{
    color: var(--pink);
    position: absolute;
    top: 2100px ;
    left: 820px ;
    width: 8%;
    font-size: 16px;

}
.color6 img{
    position:absolute;
    top:2755px;
    height: 200;
    left: 103px;
    width: 197px;
}
.color6 h6{
    color: var(--purple);
    position: absolute;
    top: 2755px;
    left: 155px;
    width: 12%;
    font-size: 20px;

}
.color6 p{
    color: var(--pink);
    position: absolute;
    top: 2825px;
    left: 120px;
    width: 8%;
    font-size: 16px;
}

.color7 img{
    position:absolute;
    top:2755px;
    height: 200;
    left: 450px;
    width: 197px;
}
.color7 h6{
    color: var(--purple);
    position: absolute;
    top: 2755px;
    left: 500px;
    width: 12%;
    font-size: 20px;
}
.color7 p{
    color: var(--pink);
    position: absolute;
    top: 2825px;
    left: 480px;
    width: 8%;
    font-size: 16px;
}
.color8 img{
    position:absolute;
    top:2755px;
    height: 200;
    left: 800px;
    width: 197px;
}
.color8 h6{
    color: var(--purple);
    position: absolute;
    top: 2755px;
    left: 855px;
    width: 12%;
    font-size: 20px;
}
.color8 p{
    color: var(--pink);
    position: absolute;
    top: 2825px;
    left: 825px;
    width: 7%;
    font-size: 16px;
}
.color9 h6{
    color: var(--hellow);
    position: center;
    font-weight: 400;
    top: 1800;
    font-size: 24px;
    width: 7%;
    left: 500px;
}
.color10 h6{
    color: var(--hellow);
    position: center;
    font-weight: 400;
    top: 2550;
    font-size: 24px;
    width: 7%;
    left: 500px;
}

.color11{
    position: relative;
    top: 1550px;
    left: 50px;
    padding-right: 5px;
    max-width: 950px;

}
.color12 p{
    color: white;
    position: relative;
    font-size: 18px;
    top: 1240px;
    left: 940;
}
.color12 button{
    position: relative;
    font-size: 18px;
    top: 1240px;
    left: 930;
}
.color12 .icons5{
    color: black;
    position: relative;
    font-size: 18px;
    top: 1210px;
    left: 930;
}

.color13 p{
    color: var(--hellow);
    position: absolute;
    font-weight: 500;
    top: 4150;
    font-size: 30px;
    left: 600px;
}
.color14 p{
    color: white;
    position: absolute;
    font-weight: 500;
    top: 4210;
    font-size: 18px;
    left: 375px;
}
.color14 button{
    position: absolute;
    top: 4280px;
    left: 665px;
}
.color15 img{
    position: absolute;
    top: 5070px;
    width: 400PX;
    left: 0px;
}
.color16 img{
    position: absolute;
    top: 5000px;
    width: 400px;
    left: 1650px;
}
.color17 .icons7{
    color: black;
    position: absolute;
    top: 5200px;
    left: 600;
    width: 700PX;
}
.color18 .icons8{
    color: black;
    position: absolute;
    top: 5200px;
    left: 800;
    width: 700PX;
}
.color19 .icons9{
    color: black;
    position: absolute;
    top: 5200px;
    left: 1000;
    width: 700PX;
} 
.color20 p{
    color: white;
    position: absolute;
    top: 5300px;
    left: 690;
    width: 700PX;
}

.color21 p{
    color: var(--hellow);
    position: absolute;
    font-weight: 500;
    top: 3250;
    font-size: 30px;
    left: 600px;
}

@media (max-width:767px) {
    header .container{
        width: 100%;
    }

    header .container img{
        display: inline;
        height: 55px;
        margin-bottom: 75px;
    }

    nav img{
        display: none;
    }
} 

@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }

   

}


